{% extends 'base.html.twig' %}

{% block title %}Formulaire d'inscription{% endblock %}

{% block body %}
    <h1 id="test">Formulaire d'inscription</h1>

    {{ form_start(formUser) }}

    {{ form_label(formUser.surname, 'Nom') }} 
    {{ form_widget(formUser.surname) }}

    {{ form_label(formUser.name, 'Prénom') }} 
    {{ form_widget(formUser.name) }}

    {{ form_label(formUser.birthDate, 'Date de naissance') }} 
    {{ form_widget(formUser.birthDate) }}

    {{ form_label(formUser.email, 'Adresse mail') }} 
    {{ form_widget(formUser.email) }}

    {{ form_label(formUser.gender, 'Genre') }} 
    {{ form_widget(formUser.gender) }}

    {{ form_label(formUser.country, 'Pays') }} 
    {{ form_widget(formUser.country) }}

    {{ form_label(formUser.profession, 'Profession') }} 
    {{ form_widget(formUser.profession) }}

    <button type="submit" class="btn btn-success">Enregistrer</button>
    {{ form_end(formUser) }}

<script>
var selectedCountry = "{{pays}}";
alert(selectedCountry);
var select = document.getElementById("user_country");
for (var i = 0; i < select.options.length; i++) {
    if (select.options[i].text === selectedCountry) {
        select.selectedIndex = i;
        break;
    }
}
alert(select);

</script>
{% endblock %}
